:root {
  --main-text-color: #163172;
  --light-grey: #d8d9da;
  --dark-grey: #61677a;
}

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-product {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.create-product-form {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.form-input {
  height: 40px;
}

.btnCreate-product {
  width: 30%;
  height: 40px;
  border-radius: 2rem;
  text-transform: uppercase;
}

input,
textarea,
select {
  margin-bottom: 20px;
  border: 2px solid var(--main-text-color);
}

textarea,
input {
  width: 70%;
}
