#productDetail {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail {
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-self: center;
  justify-self: center; */
  gap: 20px;
  border: 1px solid black;
}

.detail-image {
  width: 200px;
  height: 300px;
}

/* Styles for error screens */
.error-fetching,
.empty-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 18px;
}

.error-fetching img,
.empty-list img {
  height: 60px;
}
