:root {
  --main-text-color: #163172;
  --light-grey: #d8d9da;
  --dark-grey: #61677a;
}

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#productDetail {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 1px solid var(--dark-grey);
  border-radius: 10px;
  width: 30%;
  background-image: linear-gradient(to right bottom, white, var(--light-grey));
  line-height: 2rem;
}

.detail-image {
  width: 200px;
  height: 300px;
}

/* Styles for error screens */
.error-fetching,
.empty-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 18px;
}

.error-fetching img,
.empty-list img {
  height: 60px;
}
